$link-color: $blue-000;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;
$body-heading-color: $blue-000;

.card-bin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-card div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 10em;
}

.icon-card img {
    display: block;
    width: 4em;
    border-radius: 50%;
    border:  5px solid $btn-primary-color;
    margin: 1em;
    margin-bottom: .25em;
    vertical-align: middle;
}

.icon-card a:hover img {
    border:  5px solid $link-color;
}


.icon-card a:not([class]) {
    background-image: none !important;
}

.icon-card span {
    white-space: pre-wrap;
    text-align: center;
}

.postscript {
    text-align: center;
}

.postscript img {
    filter: grayscale(1);
}

.postscript a:not([class]) {
    background-image: none !important;
}
